@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import 'node_modules/tailwindcss/utilities.css'; */
/* @import "../../node_modules/tailwindcss/utilities.css"; */
/* @import "~tailwindcss/utilitários"; */

* {
  scroll-behavior: smooth;
}

body {
  overflow: overlay;
  /* height: 1454px; */
}

*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-thumb {
  background-color: #706e64;
  border-radius: 12px;
}

@layer components {
  .card {
    position: sticky;
    top: 0;
    background: cover;
  }

  .div_header {
    background-color: aqua;
    /* height: 39px; */
    /* height: var(--scroll); */
    /* transition: decrease 0.3s ease; */
    /* height: 39px; */
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes fade {
  from {
    /* opacity: 0; */
    transform: translateY(500px);
  }
  to {
    opacity: 1;
  }
}
@keyframes decrease {
  from {
    height: 144px;
    /* opacity: 0; */
  }
  to {
    height: 55px;
    /* opacity: 1; */
  }
}
