@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: overlay;
  background-color: #706e64;
  height: 1454px;
}

*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-thumb {
  background-color: #706e64;
  border-radius: 12px;
}

@layer components {
  .card {
    position: sticky;
    top: 0;
    background: cover;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes fade {
  from {
    /* opacity: 0; */
    transform: translateY(500px);
  }
  to {
    opacity: 1;
  }
}
